
RewriteBase /
<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)/?$ $1.php [NC]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
#RewriteRule ^([a-z]+)/?$ $1.html [NC]
  Header set Access-Control-Allow-Origin "*"
   Header set Access-Control-Allow-Methods "POST"
   Header set Access-Control-Allow-Headers "Content-Type"
    Header set Access-Control-Allow-Credentials "true"
     Header set Access-Control-Allow-Mode "no-cors" 
ProxyRequests Off
  ProxyPreserveHost On
  ProxyPass /blog_api https://unozerocode.com:4000/blog_api
  ProxyPassReverse /blog_api https://unozerocode.com:4000/blog_api  
   ProxyPass /graphiql https://unozerocode.com:4000/graphiql
  ProxyPassReverse /graphiql https://unozerocode.com:4000/graphiql

</IfModule>
